@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.contacts {

  &__hero {
    @include adaptiveValue('padding-top', 300, 150);
    @include adaptiveValue('padding-bottom', 200, 150);
  }

		// .contacts__container
		&__container {
      display: flex;
      @include adaptiveValue('gap', 100, 20);
      @include adaptiveValue('padding-top', 100, 50);
      @include adaptiveValue('padding-bottom', 100, 50);

      @media (max-width: toEm(1125)) {
        flex-direction: column;
      }
		}

		// .contacts__image
		&__image {
      position: relative;
      width: 50%;
      aspect-ratio: 1;
      opacity: 0.5;
      @include reveal;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        mask-image: linear-gradient(
            to bottom,
            rgba(0,0,0,1) 55%,
            rgba(0,0,0,0.85) 75%,
            rgba(0,0,0,0) 100%
          );
        -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(0,0,0,1) 55%,
            rgba(0,0,0,0.85) 75%,
            rgba(0,0,0,0) 100%
          );
      }

      @media (max-width: toEm(1125)) {
        display: none;
        // width: 100%;
        // width: 120svw;
        // height: 120svh;
      }
		}

		// .contacts__inner
		&__inner {
      width: 50%;

      @media (max-width: toEm(1125)) {
        width: 100%;
      }
		}

    &__wrap {
      // background-color: $bg-dark;
      background: rgba(255,255,255,0.02);
      backdrop-filter: blur(20px);
      @include adaptiveValue('padding',48,20);
    }

		// .contacts__body
		&__wrapper {
      // max-width: toRem(600);
      margin-bottom: toRem(16);
      @include reveal;

      @media (max-width: toEm(1125)) {
        // width: 80dvw;
        // width: 100%;
        // height: 100dvh;
        // height: 100%;
      }
		}

		// .contacts__actions
		&__actions {
      @include grid-adaptive($size: toRem(200), $gap: toRem(16));
		}
}
.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(8);
  margin-bottom: toRem(32);
		// .header-contacts__label
		&__label {
      position: relative;
      @include decor-point-circl($primary);
      padding-left: toRem(15);
		}

		// .header-contacts__title
		&__title {
      font-weight: 600;
      @include adaptiveValue('font-size', 48, 26);

      strong {
        @include text-stroke($primary);
        font-weight: 700;
      }
		}
}
.form-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(16);

  &--modal {
    padding-top: toRem(30);
  }
		// .form-contact__fields
		&__fields {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: toRem(20);
		}

		// .form-contact__field
		&__field {
      
		}

		// .form-contact__input
		&__input {
      color: $grey;
      padding-block: toRem(16);
      padding-left: toRem(24);
      border: toRem(1) solid $bg-dark;
      border-radius: toRem(4);
      background: rgba(255,255,255,0.02);
      backdrop-filter: blur(10px);
      font-size: toRem(16);

      &::placeholder {
        @include transition;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
		}

		// .form-contact__text
		&__text {
      width: 100%;
      
		} 

		// .form-contact__area
		&__area {
      padding-left: toRem(24);
      padding-block: toRem(16);
      min-height: toRem(200);
      background: rgba(255,255,255,0.02);
      backdrop-filter: blur(10px);
      border: toRem(1) solid $bg-dark;
      border-radius: toRem(4);
      font-size: toRem(16);

      &::placeholder {
        @include transition;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
		}

		// .form-contact__button
		&__button {
      width: 100%;
		}
}
.hero-contacts {

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(100);

    &::before {
        content: "";
        @include glow-element($color: $glow-purple ,$size:toRem(700),$top:-30%,$left:-20%,$opacity:0.3);
      }
      &::after {
        content: "";
        @include glow-element($color: $glow-cyan ,$size:toRem(700),$top:30%,$right:-20%,$opacity:0.3);
      }
  }
}


