@use '../settings/settings' as *;
@use '../settings/mixins' as *;

// ===========================================================================================
// -----------------------------
// works
// -----------------------------
.works {
  // display: none;
  @include adaptiveValue('padding-top', 200, 130);
  @include adaptiveValue('padding-bottom', 100, 50);
		// .works__container
		&__container {
      position: relative;
      // background-color: $bg-light;
      @include adaptiveValue('padding',50,20);
      border-radius: toRem(20) toRem(20) toRem(0) toRem(0);

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        @include overlay-grad-cart($dark);
        pointer-events: none;
      }
		}

		// .works__header
		&__header {}

		// .works__title
		&__title {
      @include adaptiveValue('font-size', 48, 30);
      font-weight: 600;

      span {
        color: transparent;
      -webkit-text-stroke: toRem(1) $primary;
      }
		}

		// .works__text
		&__text {
		}

		// .works__body
		&__body {
		}
}