@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.footer {
  // display: none;
  position: relative;

  &::before {
    content: "";
    @include glow-element($color: $glow-cyan ,$size:toRem(500),$top:10%,$left:10%,$opacity: 0.2);
  }
  &::after {
    content: "";
     @include glow-element($color: $glow-purple ,$size:toRem(500),$top:10%,$right:25%,$opacity: 0.2);
  }

  @media (max-width: toEm($mobile)) {
        &::before,
        &::after {
          display: none;
        }
      }
}
.body-footer {
  border-top: toRem(2) solid $bg-light;
  border-bottom: toRem(2) solid $bg-light;
  @include adaptiveValue('padding-block', 50, 25);
		// .body-footer__container
		&__container {
      // display: flex;
      // align-items: flex-start;
      // justify-content: space-between;
      @include adaptiveValue('gap', 60, 30);
      display: grid;
      grid-template-columns: repeat(2,1fr);

      @media (max-width: toEm(590)) {
        grid-template-columns: 1fr;
      }
      @media (max-width: toEm(400)) {
        justify-items: center;
      }
		}

		// .body-footer__content
		&__content {
		}

		// .body-footer__menu
		&__menu {
		}
}
.content-footer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  align-items: start;
  @include adaptiveValue('gap', 20, 10);
  @include reveal;
  // width: 30%;

		// .content-footer__title
		&__title {
      
      @include adaptiveValue('font-size', 60, 30);
      strong {
        @include text-stroke($primary);
        font-weight: 600;
      }
		}

		// .content-footer__label
		&__label {
      text-align: center;
		}
}
.menu-footer {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  @include adaptiveValue('gap', 30, 20);

  @media (max-width: toEm(400)) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

		// .menu-footer__column
		&__column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(20);
      max-width: toRem(400);
      @include stagger($count:2);
      @include reveal;
		}
}
.column-menu {

		// .column-menu__title
		&__title {
      @include adaptiveValue('font-size', 20, 18);
      text-transform: uppercase;
      font-weight: 500;
		}

		// .column-menu__list
		&__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(15);
		}

		// .column-menu__item
		&__item {
		}

		// .column-menu__link
		&__link {
      color: $grey;
      @include transition;
      @include link-hover-underline($height: toRem(1), $color: $white);

      @include hover {
        color: $white;
      }
		}
}
.column-social {

		// .column-social__title
		&__title {
      @include adaptiveValue('font-size', 20, 18);
      text-transform: uppercase;
      font-weight: 500;
		}

		// .column-social__list
		&__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(15);
		}

		// .column-social__item
		&__item {
		}

		// .column-social__link
		&__link {
		}
}
.social-link {

		// .social-link__icon
		&__icon {

		}

		// .social-link__label

		&__label {
		}
}
.bottom-footer {
  @include adaptiveValue('padding-block', 30, 15);
		// .bottom-footer__container
		&__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 30, 15);
      flex-wrap: wrap;
      text-align: center;

      @media (max-width: toEm(828)) {
        justify-content: center;
      }
		}

		// .bottom-footer__copiright
		&__copiright {
      color: $grey;
      line-height: 1.7;
      @include adaptiveValue('font-size', 16, 14);
      strong {
        color: $primary;
      }
		}
}
.terms-footer {
@include adaptiveValue('font-size', 16, 14);
  &__link {
    color: $grey;
    @include link-hover-underline($height: toRem(1), $color: $white);
    @include transition;

    @include hover {
      color: $white;
    }
  }
}