@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.page {
  // .page__hero
  &__hero {
    // display: none;
    @include adaptiveValue('padding-top', 200, 150);
    @include adaptiveValue('padding-bottom', 100, 50);
  }

  // .page__contacts
  &__contacts {
    // display: none;
    @include adaptiveValue('padding-block', 100, 50);
  }

  	// .page__projects
		&__projects {
      // display: none;
      @include adaptiveValue('padding-block', 100, 50);
		}

  // .page__steps
  &__steps {
    // display: none;
    @include adaptiveValue('padding-block', 100, 50);
  }
}
// ===========================================================================================
// -----------------------------
// projects
// -----------------------------
.projects {

		// .projects__container
		&__container-med {
      position: relative;

      &::before {
        content: "";
        @include glow-element($color: $glow-purple ,$size:toRem(500),$top:10%,$left:-30%,$opacity: 0.3);
        
      }
      &::after {
        content: "";
        @include glow-element($color: $glow-cyan ,$size:toRem(600),$top:-10%,$right:-20%,$opacity: 0.3);
      }

      @media (max-width: toEm($mobile)) {
        &::before,
        &::after {
          display: none;
        }
      }
		}

		// .projects__items
		&__items {
      @include grid-adaptive($size: toRem(390) , $gap: toRem(30));
      // grid-template-rows: toRem(300);
      
      @include hover {
        &:has(.project-cart:hover) .project-cart:not(:hover) {
          opacity: 0.6;
        }
      }
		}

    &__btn {
      font-size: toRem(18);
    }

    &__top {
      display: flex;
      justify-content: space-between;
      @include adaptiveValue('gap', 50, 20);
      align-items: flex-end;
      @include adaptiveValue('margin-bottom', 50, 30);
      @include reveal;

      @media (max-width: toEm(450)) {
        flex-direction: column;

        .projects__header{
          text-align: center;
        }
        .projects__btn {
          width: 100%;
        }
      }
    }
}
// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.hero {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  opacity: 0;

  [init-page-loader="ready"] & {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      // background: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 30%;
      @include overlay-grad-cart($dark);
    }

    &__container {
      position: relative;

      &::before {
        content: "";
        @include glow-element($color: $glow-purple ,$size:toRem(700),$top:-20%,$left:-20%,$opacity:0.2);
      }
      &::after {
        content: "";
        @include glow-element($color: $glow-cyan ,$size:toRem(600),$top:40%,$right:-20%,$opacity:0.2);
      }

      @media (max-width: toEm($mobile)) {
        &::before,
        &::after {
          display: none;
        }
      }
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('/src/assets/img/hero-avatar.PNG');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      width: 100%;
      margin: 40px auto;
      height: 120%;
      // height: 100svh;
      z-index: -2;
      will-change: transform;
      opacity: 0.6;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: $cart-gradient-dark;
      }

      @media (max-width: toEm(768)) {
        @include overlay;
        background-size: cover;
      }
    }
    &__overlay  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* Тінь по контуру (віньєтка) */
      background: radial-gradient(
        circle, 
        rgba(0,0,0,0) 20%, 
        rgba(0,0,0,0.7) 100%
      );
    }
    &__image {
      position: absolute;
      top: -80%;
      left: 50%;
      translate: -50% -7%;
      z-index: -2;
      height: auto;
      width: 60%;
      opacity: 0.4;

       &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          @include overlay-grad-cart(#121212);
        }

      img {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      @media (max-width: toEm(768)) {
        display: none;
      }
    }
    &__inner {
      position: relative;
    }
    &__body {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      padding-top: toRem(50);
      @include adaptiveValue('gap', 150, 50);
      margin-bottom: toRem(50);

      @media (max-width: toEm(768)) {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
      }
    }
		&__title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include adaptiveValue('font-size', 80, 50);
      font-weight: 600;
      text-align: right;
      line-height: 1.2;
      translate: toRem(-50) toRem(0);
      transition: translate 0.8s ease,opacity 0.8s ease;

      &.animate {
        translate: 0 0;
        opacity: 1;
      }

      @media (max-width: toEm(768)) {
        text-align: center;
        flex-direction: row;
        gap: toRem(10);
        flex-wrap: wrap;
        justify-content: center;
      }

      strong {
        color: transparent;
        -webkit-text-stroke: toRem(2) $primary;
        font-weight: 700;
      }
		}
    &__subtitle {
      position: relative;
      text-align: center;
      align-content: center;
      font-size: toRem(14);
      padding-left: toRem(12);
      @include adaptiveValue('padding-top', 50, 20);

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   translate: 0 -50%;
      //   left: 0;
      //   width: toRem(8);
      //   height: toRem(8);
      //   background-color: $primary;
      //   border-radius: 50%;
      // }

      strong {
        // @include text-stroke($primary);
        color: $primary;
      }
    }

    @media (max-width: toEm(768)) {
      // height: auto;
      &::before {
        // height: 60%;
      }
    }
}
.content-hero {
  @include flex-column;
  @include adaptiveValue('gap', 20, 10);
  translate: toRem(50) toRem(0);
  opacity: 0;
  transition: translate 0.8s ease,opacity 0.8s ease;
  transition-delay: translate 0.4s,opacity 0.4s;

  &.animate {
    translate: 0 0;
    opacity: 1;
  }

		// .content-hero__subtitle
		&__subtitle {
      @include adaptiveValue('font-size', 30, 18);
      font-weight: 500;
      max-width: toRem(350);
      // color: $grey;
      // color: $primary;

      strong {
        // color: transparent;
        // -webkit-text-stroke: toRem(1) $grey;
        // color: $grey;
        color: $primary;
      }
   

      @media (max-width: toEm(768)) {
        align-self: center;
      }
		}
		// .content-hero__text
		&__text {
      max-width: toRem(350);
      @include adaptiveValue('font-size', 14, 12);
      // color: $grey;
		}
		// .content-hero__actions
		&__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(10);

      @media (max-width: toEm(560)) {
        align-self: center;
      }
      @media (max-width: toEm(420)) {
        flex-direction: column;
      }
		}
    @media (max-width: toEm(768)) {
      text-align: center;
    }
}
.actions-content-hero {
  @media (max-width: toEm(768)) {
      width: 100%;
    }
  &__btn {
    @media (max-width: toEm(768)) {
      width: 100%;
    }
  }
}
// ===========================================================================================
// -----------------------------
// contacts
// -----------------------------
.contacts {

		// .contacts__container
		&__container {
      position: relative;
      
      &::before {
        content: "";
        @include glow-element($color: $glow-cyan ,$size:toRem(600),$top:30%,$left:-20%,$opacity:0.2);
      };
      &::after {
        content: "";
        @include glow-element($color: $glow-purple ,$size:toRem(700),$top:10%,$right:-10%,$opacity:0.2);
      }

      @media (max-width: toEm($mobile)) {
        &::before,
        &::after {
          display: none;
        }
      }
		}

		// .contacts__top
		&__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
      flex-wrap: wrap;
      @include adaptiveValue('margin-bottom', 150, 40);
      // @include reveal($delay:0.4s);
		}

		// .contacts__title
		&__title {
      max-width: toRem(400);
      @include adaptiveValue('font-size', 24, 20);
      color: $grey;
      border-left: toRem(2) solid $primary;
      padding-left: toRem(20);
		}

		// .contacts__social
		&__social {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(30);

      @media (max-width: toEm(838)) {
        flex-grow: 1;
        justify-content: flex-end;
      } 
      @media (max-width: toEm(550)) {
        justify-content: center;
      }
		}
}
.body-contacts {
  position: relative;
  display: flex;
  // align-items: flex-start;
  justify-content: space-between;
  gap: toRem(30);
  flex-wrap: wrap;
  // background-color: $bg-dark;
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(10px);
  @include adaptiveValue('padding-block', 50, 25);
  @include adaptiveValue('padding-inline', 30, 15);
  border-radius: toRem(20);
  @include reveal;
  border-left: toRem(1) solid $glow-purple;
  border-bottom: toRem(1) solid $glow-purple;


  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 60%;
  //   // @include overlay-grad-cart(#121212);
  // }
		// .body-contacts__subtitle
		&__subtitle {
      @include decor-point-circl($primary);
      padding-left: toRem(15);
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: toRem(20);

      @media (max-width: toEm(550)) {
        width: 100%;
      }
    }

		// .body-contacts__content
		&__content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: toRem(20);
		}

		// .body-contacts__text
		&__text {
      @include adaptiveValue('font-size', 40, 20);
      max-width: toRem(800);
      border-left: toRem(2) solid $primary;
      padding-left: toRem(20);

      @media (max-width: toEm(987)) {
        max-width: 100%;
      }
		}
    &__btn {
      align-self: flex-end;

      @media (max-width: toEm(550)) {
        width: 100%;
      }
    }
}
.social-contacts-list {

  &__item {
    opacity: 0;
    translate: toRem(0) toRem(8);
    transition: translate 0.6s ease,opacity 0.6s ease;

      &.animate {
      opacity: 1;
      translate: 0 0;
    }
  }
}
// ===========================================================================================
// -----------------------------
// filter
// -----------------------------
.filter {

   // .filter__controls
   &__controls {
    margin-bottom: toRem(30);
   }

   // .filter__menu
   &__menu {}

   // .filter__body
   &__body {
    @include grid-adaptive($size: toRem(430), $gap: toRem(50));
    margin-bottom: toRem(50);
      @include hover {
         &:has(.project-cart:hover) .project-cart:not(:hover) {
            opacity: 0.6;
         }
      }
   }

   // .filter__footer
   &__footer {}
}
.menu-filter {
   display: flex;
   align-items: center;
   @include adaptiveValue('column-gap', 20, 10);
   @include adaptiveValue('row-gap', 20, 10);
   flex-wrap: wrap;

   @media (max-width: toEm(632)) {
      justify-content: center;
   }

   // .menu-filter__item
   &__item {
      flex-shrink: 0;
      @include stagger($count: 3);
      @include reveal((toRem(-10), toRem(20)), 0.6s);
   }

   // .menu-filter__button
   &__button {
      background-color: $bg-light;
      border-radius: toRem(40);
      @include adaptiveValue('padding-block', 10, 6);
      @include adaptiveValue('padding-inline', 32, 15);
      color: $white;
      font-weight: 700;
      transition: background-color 0.3s,color 0.3s ;

      @include hover {
         background-color: $primary;
         color: $dark;
      }

      &.is-active {
         background-color: $primary;
         color: $dark;
      }
   }
}
.footer-filter {
  display: flex;
  align-items: center;
  justify-content: center;
		// .footer-filter__button
		&__button {
		}
}
// ===========================================================================================
// -----------------------------
// steps
// -----------------------------
.steps {
  position: relative;
  // width: 100%;
  // height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include overlay-grad-cart($dark);
  }
  
		// .steps__container
		&__container {
      position: relative;
      z-index: 10;

      &::before {
        content: "";
        @include glow-element($color: $glow-cyan ,$size:toRem(800),$top:-10%,$left:-20%,$opacity: 0.2);
        
      }
      &::after {
        content: "";
        @include glow-element($color: $glow-purple ,$size:toRem(800),$top:-30%,$right:-20%,$opacity: 0.2);
      }

      @media (max-width: toEm($mobile)) {
        &::before,
        &::after {
          display: none;
        }
      }
    }

    &__inner {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include adaptiveValue('gap', 80, 60);
      // background-color: $bg-dark;
      // background: rgba(255,255,255,0.03);
      // backdrop-filter: blur(10px);
      border-radius: toRem(20);
      @include adaptiveValue('padding',50,20);

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   @include overlay-grad-cart(#121212);
      //   width: 100%;
      //   height: 50%;
      //   pointer-events: none;
      // }

      @media (max-width: toEm(700)) {
        flex-direction: column;
      }
    }

		// .steps__content
		&__content {
		}

		// .steps__items
		&__items {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: toRem(40);
      

      @media (max-width: toEm(700.98)) {
        width: 100%;
      }
		}

		// .steps__item
		&__item {
      counter-increment: item;
      @include reveal($translate:(20px, 20px));
      
      &:nth-child(even) {
        align-self: flex-end;
      }
      &:nth-child(odd) {
        align-self: flex-start;
      }
		}
}
.content-steps {
 display: flex;
 flex-direction: column;
 gap: toRem(20);
 align-self: flex-start;
 width: 50%;
 @include reveal;
 background: rgba(255,255,255,0.03);
 backdrop-filter: blur(10px);
 border-radius: toRem(20);
 padding: toRem(30);
 border-top: toRem(1) solid $glow-purple;
 border-right: toRem(1) solid $glow-purple;

  @media (max-width: toEm(700.98)) {
    width: 100%;
  }
		// .content-steps__subtitle
		&__subtitle {
      @include decor-point-circl($primary);
      padding-left: toRem(15);
		}

		// .content-steps__title
		&__title {
      @include adaptiveValue('font-size', 40, 24);
      font-weight: 500;
      max-width: toRem(500);
		}

		// .content-steps__text
		&__text {
      max-width: toRem(500);
      @include adaptiveValue('font-size', 16, 14);
      color: $grey;
		}
    &__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(20);
    }
    &__btn {
      align-self: flex-start;

      @media (max-width: toEm($mobile)) {
        width: 100%;
      }
      // @media (max-width: toEm(460)) {
      //   width: 100%;
      // }
    }
}
// ===========================================================================================
// -----------------------------
// intro
// -----------------------------
.intro {
  position: relative;
  // display: none;
  @include adaptiveValue('padding-block', 50, 25);

		// .intro__container
		&__container {
      position: relative;
      @include reveal;
      &::before {
        content: "";
         @include glow-element($color: $glow-purple ,$size:toRem(600),$top:-40%,$left:-20%,$opacity: 0.1);
      }
      &::after {
        content: "";
         @include glow-element($color: $glow-cyan ,$size:toRem(600),$top:-10%,$right:-20%,$opacity: 0.1);
      }

      @media (max-width: toEm($mobile)) {
        &::after,
        &::before {
          display: none;
        }
      }
		}

		// .intro__content
		&__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include adaptiveValue('gap', 20, 10);
      // z-index: 2;
      background: rgba(255,255,255,0.03);
      backdrop-filter: blur(10px);
      padding: toRem(50);
      border-radius: toRem(20);
      border-top: toRem(1) solid $glow-purple;
      border-bottom: toRem(1) solid $glow-cyan;
		}

		// .intro__label
		&__label {
      position: relative;
      @include adaptiveValue('font-size', 14, 12);
      font-weight: 500;
      color: $grey;
      padding-left: toRem(10);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        background-color: $primary;
        width: toRem(6);
        height: toRem(6);
        border-radius: 50%;
      }
		}

		// .intro__title
		&__title {
      position: relative;
      @include adaptiveValue('font-size', 90, 50);
      font-weight: 500;
      line-height: 1.2;
      max-width: toRem(500);
      margin-bottom: toRem(12);

      strong {
        @include text-stroke($primary);
      }
      span {
        border-bottom: toRem(1) solid $primary;
        // border-bottom: toRem(1) solid $accent-dark;
      }
		}

		// .intro__text
		&__text {
		}

    &__btn {
      @media (max-width: toEm(400)) {
        width: 100%;
      }
    }
}

.stars {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0; /* під контентом */
}
/* одна “зірка” */
.star {
  position: absolute;
  width: 2px;
  height: 70px;
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 194, 0.9),
    rgba(0, 255, 194, 0)
  );
  opacity: 0.2;
  filter: blur(0.5px);
  transform-origin: top;
  animation: fall linear infinite;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #00FFC2;
    box-shadow: 0 0 8px rgba(0,255,194,0.8);
  }
}
// @keyframes fall {
//   0% {
//     transform: translate3d(0, -120px, 0) rotate(var(--angle));
//     opacity: 0;
//   }
//   15% { opacity: 0.6; }
//   100% {
//     transform: translate3d(var(--dx), 110vh, 0) rotate(var(--angle));
//     opacity: 0;
//   }
// }
