@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.page {
  // .page__hero
  &__hero {
    // display: none;
    @include adaptiveValue('padding-top', 200, 150);
    @include adaptiveValue('padding-bottom', 100, 50);
  }

  // .page__contacts
  &__contacts {
    // display: none;
    @include adaptiveValue('padding-block', 100, 50);
  }

  	// .page__projects
		&__projects {
      // display: none;
      @include adaptiveValue('padding-block', 100, 50);
		}

  // .page__steps
  &__steps {
    // display: none;
    @include adaptiveValue('padding-block', 100, 50);
  }
}
// ===========================================================================================
// -----------------------------
// projects
// -----------------------------
.projects {

		// .projects__container
		&__container {
      max-width: toRem(1230) !important;
		}

		// .projects__items
		&__items {
      @include grid-adaptive($size: toRem(390) , $gap: toRem(30));
      // grid-template-rows: toRem(300);
		}

    &__btn {
      font-size: toRem(18);
    }

    &__top {
      display: flex;
      justify-content: space-between;
      @include adaptiveValue('gap', 50, 20);
      align-items: flex-end;
      @include adaptiveValue('margin-bottom', 50, 30);

      @media (max-width: toEm(450)) {
        flex-direction: column;

        .projects__header{
          text-align: center;
        }
        .projects__btn {
          width: 100%;
        }
      }
    }
}
// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.hero {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      @include overlay-grad-cart(#121212);
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('/src/assets/img/hero-avatar.PNG');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      width: 100%;
      margin: 40px auto;
      height: 120%;
      // height: 100svh;
      z-index: -2;
      will-change: transform;
      opacity: 0.6;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: $cart-gradient-dark;
      }

      @media (max-width: toEm(768)) {
        @include overlay;
        background-size: cover;
      }
    }
    &__overlay  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* Тінь по контуру (віньєтка) */
      background: radial-gradient(
        circle, 
        rgba(0,0,0,0) 20%, 
        rgba(0,0,0,0.7) 100%
      );
    }
    &__image {
      position: absolute;
      top: -80%;
      left: 50%;
      translate: -50% -7%;
      z-index: -2;
      height: auto;
      width: 60%;
      opacity: 0.4;

       &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          @include overlay-grad-cart(#121212);
        }

      img {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      @media (max-width: toEm(768)) {
        display: none;
      }
    }
    &__inner {
      position: relative;
    }
    &__body {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      padding-top: toRem(50);
      @include adaptiveValue('gap', 150, 50);
      margin-bottom: toRem(50);

      @media (max-width: toEm(768)) {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
      }
    }
		&__title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include adaptiveValue('font-size', 80, 40);
      font-weight: 600;
      text-align: right;
      line-height: 1.2;

      @media (max-width: toEm(768)) {
        text-align: center;
        flex-direction: row;
        gap: toRem(10);
        flex-wrap: wrap;
        justify-content: center;
      }

      strong {
        color: transparent;
        -webkit-text-stroke: toRem(2) $primary;
      }
		}
    &__subtitle {
      position: relative;
      text-align: center;
      align-content: center;
      font-size: toRem(14);
      padding-left: toRem(12);
      @include adaptiveValue('padding-top', 50, 20);

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   translate: 0 -50%;
      //   left: 0;
      //   width: toRem(8);
      //   height: toRem(8);
      //   background-color: $primary;
      //   border-radius: 50%;
      // }

      strong {
        // @include text-stroke($primary);
        color: $primary;
      }
    }

    @media (max-width: toEm(768)) {
      // height: auto;
      &::before {
        // height: 60%;
      }
    }
}
.content-hero {
  @include flex-column;
  @include adaptiveValue('gap', 20, 10);
		// .content-hero__subtitle
		&__subtitle {
      @include adaptiveValue('font-size', 30, 18);
      font-weight: 500;
      max-width: toRem(350);
      // color: $grey;
      // color: $primary;

      strong {
        // color: transparent;
        // -webkit-text-stroke: toRem(1) $grey;
        // color: $grey;
        color: $primary;
      }
   

      @media (max-width: toEm(768)) {
        align-self: center;
      }
		}
		// .content-hero__text
		&__text {
      max-width: toRem(350);
      @include adaptiveValue('font-size', 14, 12);
      // color: $grey;
		}
		// .content-hero__actions
		&__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(10);

      @media (max-width: toEm(560)) {
        align-self: center;
      }
      @media (max-width: toEm(420)) {
        flex-direction: column;
      }
		}
    @media (max-width: toEm(768)) {
      text-align: center;
    }
}
.actions-content-hero {
  @media (max-width: toEm(768)) {
      width: 100%;
    }
  &__btn {
    @media (max-width: toEm(768)) {
      width: 100%;
    }
  }
}
// ===========================================================================================
// -----------------------------
// contacts
// -----------------------------
.contacts {

		// .contacts__container
		&__container {
		}

		// .contacts__top
		&__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
      flex-wrap: wrap;
      @include adaptiveValue('margin-bottom', 150, 40);
		}

		// .contacts__title
		&__title {
      max-width: toRem(400);
      @include adaptiveValue('font-size', 24, 20);
      color: $grey;
      border-left: toRem(2) solid $primary;
      padding-left: toRem(20);
		}

		// .contacts__social
		&__social {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(30);

      @media (max-width: toEm(838)) {
        flex-grow: 1;
        justify-content: flex-end;
      } 
      @media (max-width: toEm(550)) {
        justify-content: center;
      }
		}
}
.body-contacts {
  position: relative;
  display: flex;
  // align-items: flex-start;
  justify-content: space-between;
  gap: toRem(30);
  flex-wrap: wrap;
  background-color: $bg-dark;
  @include adaptiveValue('padding-block', 50, 25);
  @include adaptiveValue('padding-inline', 30, 15);
  border-radius: toRem(20);

  // &::before {
  //   content: "";
  //   background: url('/src/assets/icons/arrow-decor.svg') 0 0/ 100% no-repeat;
  //   position: absolute;
  //   top: 0;
  //   left: 15%;
  //   // width: toRem(200);
  //   @include adaptiveValue('width',200,100);
  //   @include adaptiveValue('height',150,80);
  //   // height: toRem(150);
  //   rotate: -10deg;
  // }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    @include overlay-grad-cart(#121212);
  }
		// .body-contacts__subtitle
		&__subtitle {
      @include decor-point-circl($primary);
      padding-left: toRem(15);
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: toRem(20);

      @media (max-width: toEm(550)) {
        width: 100%;
      }
    }

		// .body-contacts__content
		&__content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: toRem(20);
		}

		// .body-contacts__text
		&__text {
      @include adaptiveValue('font-size', 40, 20);
      max-width: toRem(800);
      border-left: toRem(2) solid $primary;
      padding-left: toRem(20);

      @media (max-width: toEm(987)) {
        max-width: 100%;
      }
		}
    &__btn {
      align-self: flex-end;

      @media (max-width: toEm(550)) {
        width: 100%;
      }
    }
}
// ===========================================================================================
// -----------------------------
// filter
// -----------------------------
.filter {

   // .filter__controls
   &__controls {
    margin-bottom: toRem(30);
   }

   // .filter__menu
   &__menu {}

   // .filter__body
   &__body {
    @include grid-adaptive($size: toRem(430), $gap: toRem(50));
    margin-bottom: toRem(50);
      @include hover {
         &:has(.card:hover) .card:not(:hover) {
            opacity: 0.4;
         }
      }
   }

   // .filter__footer
   &__footer {}
}
.menu-filter {
   display: flex;
   align-items: center;
   @include adaptiveValue('column-gap', 20, 10);
   @include adaptiveValue('row-gap', 20, 10);
   flex-wrap: wrap;

   @media (max-width: toEm(632)) {
      justify-content: center;
   }

   // .menu-filter__item
   &__item {
      flex-shrink: 0;
   }

   // .menu-filter__button
   &__button {
      background-color: $bg-light;
      border-radius: toRem(40);
      @include adaptiveValue('padding-block', 10, 6);
      @include adaptiveValue('padding-inline', 32, 15);
      color: $white;
      font-weight: 700;
      transition: background-color 0.3s,color 0.3s ;

      @include hover {
         background-color: $primary;
         color: $dark;
      }

      &.is-active {
         background-color: $primary;
         color: $dark;
      }
   }
}
.footer-filter {
  display: flex;
  align-items: center;
  justify-content: center;
		// .footer-filter__button
		&__button {
		}
}
// ===========================================================================================
// -----------------------------
// steps
// -----------------------------
.steps {

		// .steps__container
		&__container {}

    &__inner {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include adaptiveValue('gap', 80, 60);
      background-color: $bg-dark;
      border-radius: toRem(20);
      @include adaptiveValue('padding',50,20);

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        @include overlay-grad-cart(#121212);
        width: 100%;
        height: 50%;
        pointer-events: none;
      }

      @media (max-width: toEm(700)) {
        flex-direction: column;
      }
    }

		// .steps__content
		&__content {
		}

		// .steps__items
		&__items {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: toRem(40);

      @media (max-width: toEm(700.98)) {
        width: 100%;
      }
		}

		// .steps__item
		&__item {
      counter-increment: item;
      
      &:nth-child(even) {
        align-self: flex-end;
      }
      &:nth-child(odd) {
        align-self: flex-start;
      }
		}
}
.content-steps {
 display: flex;
 flex-direction: column;
 gap: toRem(20);
 align-self: flex-start;
 width: 50%;

  @media (max-width: toEm(700.98)) {
    width: 100%;
  }
		// .content-steps__subtitle
		&__subtitle {
      @include decor-point-circl($primary);
      padding-left: toRem(15);
		}

		// .content-steps__title
		&__title {
      @include adaptiveValue('font-size', 40, 24);
      font-weight: 500;
      max-width: toRem(500);
		}

		// .content-steps__text
		&__text {
      max-width: toRem(500);
      @include adaptiveValue('font-size', 16, 14);
      color: $grey;
		}
    &__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(20);
    }
    &__btn {
      align-self: flex-start;

      @media (max-width: toEm($mobile)) {
        width: 100%;
      }
      // @media (max-width: toEm(460)) {
      //   width: 100%;
      // }
    }
}
// ===========================================================================================
// -----------------------------
// intro
// -----------------------------
.intro {
  position: relative;
  // display: none;
  @include adaptiveValue('padding-block', 50, 25);
  // @include img-bg-cover('/src/assets/img/background-intro-01.webp');

      &::before {
        // filter: grayscale(100%) brightness(0.8);
      }

		// .intro__container
		&__container {
      position: relative;
      background-color: $bg-dark;
      padding: toRem(50);
      border-radius: toRem(20);
      // @include overlay-gradient($color: #121212,$opacity-start: 0.9, $opacity-end: 0);

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        @include overlay-grad-cart(#121212);
        pointer-events: none;
      }
		}

		// .intro__content
		&__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include adaptiveValue('gap', 20, 10);
      z-index: 2;
		}

		// .intro__label
		&__label {
      position: relative;
      @include adaptiveValue('font-size', 14, 12);
      font-weight: 500;
      color: $grey;
      padding-left: toRem(10);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        background-color: $primary;
        width: toRem(6);
        height: toRem(6);
        border-radius: 50%;
      }
		}

		// .intro__title
		&__title {
      position: relative;
      @include adaptiveValue('font-size', 90, 50);
      font-weight: 500;
      line-height: 1.2;
      max-width: toRem(500);
      margin-bottom: toRem(12);

      strong {
        @include text-stroke($primary);
      }
      span {
        border-bottom: toRem(1) solid $primary;
        // border-bottom: toRem(1) solid $accent-dark;
      }
		}

		// .intro__text
		&__text {
		}

    &__btn {
      @media (max-width: toEm(400)) {
        width: 100%;
      }
    }
}



